<mat-toolbar color="primary" class="custom-toolbar">
    <button (click)="toggleDrawer()" mat-icon-button class="example-icon" aria-label="Toggle Drawer">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>Estudio Jurídico Malvina Aramayo Capacitaciones en Derecho Penal Familia Civil</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Favorite">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Share">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <p>Investigación & Desarrollo</p>
        <ng-container *ngIf="showFiller">
            <p>El Instituto está integrado por investigadores/as formados/as; investigadores/as en formación y adscriptos/as.
            Los/las investigadores formados/as son aquellos/as profesores/as que teniendo una dedicación exclusiva o semiexclusiva
            se dedican en forma permanente a la investigación</p>
        </ng-container>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            MISIÓN ACADÉMICA
        </button>
    </mat-drawer>

    <!-- CONTENIDO -->

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            MENÚ
        </button>
        <mat-nav-list>
            <a #quienessomosLink="routerLinkActive" routerLinkActive [activated]="quienessomosLink.isActive"
                routerLink="quienessomos" mat-list-item>QUIÉNES SOMOS</a>
            <a #homeLink="routerLinkActive" routerLinkActive [activated]="homeLink.isActive" routerLink="home"
                mat-list-item>Oferta Educativa/DETALLE/INSCRIPCION</a>
            <a #usersLink="routerLinkActive" routerLinkActive [activated]="usersLink.isActive" routerLink="users"
                mat-list-item>Usuarios</a>
            <a #cursosLink="routerLinkActive" routerLinkActive [activated]="cursosLink.isActive" routerLink="cursos"
                mat-list-item>Cursos New</a>
            <a #alumnoLink="routerLinkActive" routerLinkActive [activated]="alumnoLink.isActive" routerLink="alumnos"
                mat-list-item>Alumnos</a>
            <a (click)="logout()" mat-list-item>Cerrar sesión</a>
        </mat-nav-list>
    </div>

</mat-drawer-container>
<router-outlet></router-outlet>