
.mat-toolbar {
    display: flex;
    align-items: center;
    background-color: #3f51b5;
    color: white;
    padding: 0 16px;
    
}


.mat-toolbar span {
    margin-right: 20px;
  
}


.mat-nav-list {
    display: flex;
   
    flex-direction: row;
  
    background-color: #303f9f;
   
    color: white;
    
    padding: 0 16px;
   
}


.mat-nav-list a {
   left: 100px;
    text-decoration: none;
    color: rgb(211, 20, 20);
    
    margin-right: 10px;
   
}


.example-sidenav-content {
    background-color: #91969b;

    text-decoration: solid;
    
    text-transform: uppercase;
  
    height: auto;
    
    padding: 20px;
   
}


.button {
    text-decoration: solid;
    text-overflow: initial;
}

.mat-drawer-content.mat-drawer.content {
    background-color: #3f51b5;
   
    margin: 10px;
   
}

.app-quienessomos {
    height: calc(100vh - 64px);
   
    overflow-y: auto;
   
}
.custom-toolbar {
    height: 3cm;
}