.quienessomos {
    display: flex;
    justify-content: center;
    
}


    mat-grid-list {
        width: 100%;
       
    }

        mat-form-field {
            margin-right: 10px;
            background-color: cornsilk;
        }