<div class="quienessomos">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
            [style.background]="tile.color">
            <span class="tile-text">{{ tile.text }}</span>
        </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="selectedItem.text === 'ENSEÑANZA Y APRENDIZAJE EN TODAS LAS AREAS DEL DERECHO'"
        class="contact-form">
        <mat-form-field class="form-field">
            <mat-label>No dudes en comunicarte</mat-label>
            <input matInput placeholder="Escribe tu mensaje" #message>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Sin horario</mat-label>
            <input matInput placeholder="Ingresa tu número de teléfono" #action>
        </mat-form-field>

        <a mat-raised-button color="primary"
            href="mailto:malbihi@gmail.com?subject=Urgencias&body={{message.value}}">Enviar</a>
    </div>
</div>







