<table class="table">
  <thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Correo</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let alumno of listaAlumnos">
      <td>{{ alumno.apellido }}</td>
      <td>{{ alumno.nombre }}</td>
      <td>{{ alumno.correo }}</td>
    </tr>
  </tbody>
</table>


<app-entrada-datos (datosGuardados)="recibirDatosGuardados($event)"></app-entrada-datos>


<button type="button" class="save-button" (click)="inscribirse()">inscribirse</button>