<h2>Inscripción de Alumnos</h2>
<form id="formularioInscripcion" (submit)="inscribirse()">
    <label for="curso">Curso:</label>
    <input type="text" id="curso" name="curso"><br><br>
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido"><br><br>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre"><br><br>
    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="correo"><br><br>
    <button type="submit" class="save-button">Inscribirse</button>
</form>

<h2>Listado de Alumnos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inscripcion of inscripcion">
            <td>{{ inscripcion.curso }}</td>
            <td>{{ inscripcion.alumno.apellido }}</td>
            <td>{{ inscripcion.alumno.nombre }}</td>
            <td>{{ inscripcion.alumno.correo }}</td>
        </tr>
    </tbody>
</table>