   .cards-container {
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
   }

   .example-card {
       width: calc(25% - 20px);
       margin-bottom: 20px;
       display: flex;
       flex-direction: column;
       position: relative;
   }

   .example-card img {
       width: 80%;
       height: 100px;
       object-fit: cover;
   }

   .card-description {
       padding: 10px;
       text-align: center;
   }

   .button-container {
       display: flex;
       justify-content: flex-end;
       margin-top: auto;
   }

   .inscribirme-button {
       background-color: blue;
       color: white;
       padding: 5px 10px;
       border: none;
       cursor: pointer;
   }